= simple_form_for @project, html: {},  wrapper: :horizontal_form do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  .row
    .col
      = f.input :name, input_html: { class: "#{input_style} string required"}
    .col
  .row
    .col
      = f.input :repo_url, input_html: { class: "#{input_style} string required"}
    .col
  .form-group
    .actions
      = f.submit 'Save', class: button_style
      = link_to 'Cancel', projects_path, class: button_style
