= simple_form_for(:run, url: project_runs_path(project_id: @project.id),wrapper: :horizontal_form, method: :post) do |f|
  .form-row
    .col
      = f.input 'Task', input_html: { name: 'run[target]', id: 'run_target', value: 'all', class: "#{input_style} string required"}
      = f.input 'branch', as: :hidden, input_html: { name: 'run[branch]', id: 'run_branch', value: 'master'}
    .col
      = f.submit 'New Run', class: button_style
    .col
