%b Settings
%select{id: 'branchSelect', name: 'branchSelect'}
  - project.settings.each do |branch|
    %option{value: "#{branch.branch}", selected: branch.branch == 'master'}
      = branch.branch
= fa_link_to 'sync', refresh_path(project), 'refresh', title: 'edit', method: :post, class: button_style
%div{class: 'tab-content'}
  - project.settings.each do |branch|
    %div{id: "#{branch.branch}", role: 'tabpane1', class: "tab-pane fade #{branch.branch == active_branch ? 'active show' : ''}"}

      %div.settings-section
      %span.yaml-key branch:
      %span.settings-body
        = branch.branch

      %div.settings-section
        %span.yaml-key options:
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_options", href: "\##{branch.branch}_options",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_options", class: collapse_css(true)}
          = render_yaml branch.options, ['options'], 1

      %div.settings-section
        %span.yaml-key targets
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_targets", href: "\##{branch.branch}_targets",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_targets", class: collapse_css(true)}
          = render_yaml branch.targets, ['targets'], 1

      %div.settings-section
        %span.yaml-key environments:
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_environments", href: "\##{branch.branch}_environments",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_environments", class: collapse_css(true)}
          = render_yaml branch.environments, ['environments'], 1

      %div.settings-section
        %span.yaml-key variables:
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_variables", href: "\##{branch.branch}_variables",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_variables", class: collapse_css(true)}
          = render_yaml branch.variables, ['variables'], 1

      %div.settings-section
        %span.yaml-key environment:
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_environment", href: "\##{branch.branch}_environment",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_environment", class: collapse_css(true)}
          = render_yaml branch.environment, ['environment'], 1

      %div.settings-section
        %span.yaml-key shared_example_gems:
        %span
          %a{'data-toggle': 'collapse', 'aria-expanded': false, role: 'button',
          'aria-controls': "#{branch.branch}_shared_example_gems", href: "\##{branch.branch}_shared_example_gems",
          class: 'collapse-button'} +

        %div.settings-body{id: "#{branch.branch}_shared_example_gems", class: collapse_css(true)}
          = render_yaml branch.shared_example_gems, ['shared_example_gems'], 1
