%input{type: 'hidden', id: 'projectId', value: @project.id}
%input{type: 'hidden', id: 'pageType', value: 'project_show'}

%p#notice= notice

%p
  %div
    %div{class: 'project-title'}= @project.name
    = @project.repo_url

#settingsDiv
  = render partial: 'settings', locals: {project: @project, active_branch: nil}
%div
  = render 'run_form'
%div
  %br
%div
  = render template: 'runs/index'

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path


