= form_with(model: [@project, @run], local: true) do |form|
  - if @run.errors.any?
    #error_explanation
      %h2
        = pluralize(run.errors.count, "error")
        prohibited this run from being saved:
      %ul
        - run.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :targets
    = form.text_field :targets, id: :run_targets
  .actions
    = form.submit
