%td ##{run.run_no} (#{run.branch || 'master' })
%td= run.status
%td
  = fa_icon 'check', type: :solid, text: run.summary[:passed_count] if run.summary
  = fa_icon 'times', type: :solid, text: run.summary[:failure_count] if run.summary
  = fa_icon 'clock', type: :regular, text: run.summary[:pending_count] if run.summary
%td{class: result_icon_css(run.status, run.result)}= result_icon(run.status, run.result)
%td
  - if run.last_update
    #{time_ago_in_words run.last_update} ago
  - else
    waiting for completion