%table{class: 'table table-dark'}
  %thead
  %tbody
    - @runs.each do |run|
      %tr{'data-href': project_run_url(run.project, run), class: 'run-row', id: "run_#{run.id}" }
        = render partial: 'runs/run', locals: { run: run }


