%h2 Test Report
- if @suite == 'dashboard'
  = render 'dashboard'
-elsif @suite == 'all'
  - @run.test_report.keys.each do |key|
    %a{href: '#'+key}= key
  - @run.test_report.each do |suite, report|
    = render_report(suite, report)
- else
  = render_report(@suite,@run.test_report[@suite])