%h2 Test Report
%div
  Run ID: #{@run.id}
%div
  Status: #{@run.status}
%div
  Result: #{@run.result}
%div
  Targets: #{@run.targets}
%div
  Message:
  %br
  #{@run.notes}
%br
%div
%div
  Test Reports:
  %div
    - @run.test_report.keys.each do |key|
      %a{href: '#'+key}= key


    - @run.test_report.each do |suite, report|
      = render_report(suite, report)

= link_to 'Delete', [@run.project, @run], method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back', project_path(id: @run.project.id)
