/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$body-bg:#000000;
$body-color:#fff;
$brand-inverse:#000;
$pass-color:#1e8449;
$fail-color:#b03a2e;
$pending-color:#b9770e;
$scheduled-color: #4090b9;
$error-color: #b9001e;
$row-color: #2b2a28 ;
$collapse-color: #a2a2a2 ;

@font-face {
  font-family: 'DobScript';
  src: url('/fonts/DobScript.eot');
  src: url('/fonts/DobScript.eot?#iefix') format('embedded-opentype'), url('/fonts/DobScript.ttf') format('truetype'), url('/fonts/DobScript.svg#dobscriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

.bgimg {
  background-image: url(/images/bglogo.png);
  background-size: 375px 525px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 700px;
}

.scratchy-text {
  font-family:DobScript, "Helvetica Neue", Helvetica, Arial, sans-serif; ;
}

.test-passed {
  color: $pass-color;
}

.test-failed {
  color:  $fail-color;
}

.test-pending {
  color: $pending-color;
}

.test-scheduled {
  color: $scheduled-color;
}

.test-error {
  color: $error-color;
}



.run-passed {
  background-color: $pass-color;
}

.run-failed {
  background-color:  $fail-color;
}

.run-pending {
  background-color: $pending-color;
}

.run-scheduled {
  background-color: $scheduled-color;
}

.run-error {
  background-color: $error-color;
}

.run-row:hover {
  background-color: $row-color;
}


.indent-0 {
  text-indent: 0px;
}

.indent-1 {
  text-indent: 10px;
}

.indent-2 {
  text-indent: 20px;
}

.indent-3 {
  text-indent: 30px;
}

.indent-4 {
  text-indent: 40px;
}

.indent-5 {
  text-indent: 50px;
}

.indent-6 {
   text-indent: 60px;
}

.indent-7 {
  text-indent: 70px;
}

.indent-8 {
  text-indent: 80px;
}

.indent-9 {
  text-indent: 90px;
}

.indent-10 {
  text-indent: 100px;
}

.test-report {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Courier New";
}

.yaml-key {
  color:  #a77bb8;
}

.yaml-text {
  color: $body-color;
}

.yaml-array {
  color: $body-color;
}

.action-link {
  color: #000;
}

.action-link:hover {
  color: #000;
  background-color: rgba(0, 0, 0, -4);
}

.action-link:active {
  color: #000;
  background-color: rgba(0, 0, 0, -4);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.settings-heading {
  color: $body-color;
}

.collapse-button {
  color: $collapse-color;
  outline: 0
}

.project-title {
  font-size: x-large;
}

.btn-black {
  color: #ffffff;
  background-color: #000000;
}

.form-control-black {
  color: #ffffff;
  background-color: #000000;
}

.white-border {
  border: thin solid #ffffff;
  border-radius: 4px;
}




$font-family-sans-serif:DobScript, Calibri, Arial, sans-serif;
$font-family-serif:Baskerville,Georgia, "Times New Roman", Times, serif;


@import 'select';
@import 'input';
@import "bootstrap";
@import 'font_awesome5_webfont';
