.custom-select {
  display: inline-block
}
select {

  //styling
  color: #ffffff;
  background-color: #000000;
  border: thin solid #000000;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  // reset

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
          linear-gradient(45deg, transparent 50%, #ffffff 50%),
          linear-gradient(135deg, #ffffff 50%, transparent 50%),
          linear-gradient(to right, #000000, #000000);
  background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
  background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
  background-repeat: no-repeat
}

