%nav.navbar.navbar-expand-md.navbar-dark
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a#brand.navbar-brand{href: "#", class: 'scratchy-text'} #{@application_name}
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => '/projects'}
          Projects
          %span.sr-only (current)
      %li.nav-item.active
        %a.nav-link{ :href => '#' }
          Mango Kru
    %ul.nav.navbar-nav.navbar-toggler-right
      %li.nav-item.dropdown{:w => ''}
        %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
          Leek
        .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
          %a.dropdown-item{:href => '' } Admin
