!!!
%html{lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title #{@application_name}
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    = render partial:  'layouts/flash'
    %div{class: 'container'}
      = render "layouts/#{@layout}"
    = render 'layouts/footer'
    = render 'layouts/scripts'